<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Farmproduct</h1>
  <div class="col-6 offset-3">
    <form action="/farmplace" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="farmplace[name]"
          required
        />
        <div class="valid-feedback">Looks good</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="farmplace[location]"
          required
        />
        <div class="valid-feedback">Looks good</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price/Kg</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">&#8377; </span>
          <input
            id="price"
            type="text"
            class="form-control"
            placeholder="0"
            aria-label="price"
            aria-describedby="price-label"
            name="farmplace[price]"
            required
          />
          <div class="valid-feedback">Looks good</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="farmproduct">Farmproduct</label>

        <select
          class="form-select"
          id="farmproduct"
          aria-label="Default select example"
          name="farmplace[farmproduct]"
        >
          <option selected>Select the farmproduct</option>
          <option value="Potato">Potato</option>
          <option value="Onion">Onion</option>
          <option value="Tomato">Tomato</option>
        </select>
      </div>
      <!-- <div class="mb-3">
        <label for="Date">Date</label>
        <input type="date" required id="Date" />
      </div> -->
      <div class="mb-3">
        <button class="btn btn-success">Add Farmproduct</button>
      </div>
    </form>
  </div>
</div>
