<% layout('layouts/boilerplate') %>
<h1>Sellers List</h1>
<ul>
  <% for(let farm of farmplace){ %>
  <li>
    <a href="/farmplace/<%=farm._id  %>"><%=farm.name %></a>
  </li>
  <% } %>
</ul>

<footer>
  <a href="/farmplace">Home</a>
</footer>
